<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueTodo</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>

    <main id="app" class="Wrapper">

      <header class="Header">
        <h1>VueTodo V2</h1>
        <div class="Header-menu">
          <div @click="toggleModal('help')" class="Header-item">HELP</div>
          <div @click="toggleModal('settings')" class="Header-item">SETTINGS</div>
          <a href="https://github.com/johnveloper/vue-todo-v2" class="Header-item">GITHUB</a>
        </div>
      </header>

      <todo-input
        v-model="text"
        @enter="addItem"
        rounded="settings.inputRounded.state"
      ></todo-input>

      <todo-item
        v-for="item in items"
        :key="item.id"
        :done="item.done"
        :rounded="settings.itemsRounded.state"
        :shift="shiftPressed"
        @click="handleItemTap(item.id)"
        @touchstart="handleItemTouchStart(item.id)"
        @touchend="handleItemTouchEnd"
      >{{ item.text }}</todo-item>

      <modal header-text="Settings" :visible="modals.settings" @close="toggleModal('settings')">
        
        <setting 
          v-for="(setting, settingKey) in settings"
          :checked="settings[settingKey].state"
          @toggle="toggleSetting(settingKey)"
          :key="settingKey"
        >{{ setting.label }}</setting>

        <div class="Modal-row">Theme: 
          <div @click="setTheme('#E91E63')" class="Rect Rect--pink"></div>
          <div @click="setTheme('#009688')" class="Rect Rect--teal"></div>
          <div @click="setTheme('#FF5722')" class="Rect Rect--orange"></div>
          <div @click="setTheme('#222222')" class="Rect Rect--black"></div>
          <div @click="setTheme('#311B92')" class="Rect Rect--purple"></div>
        </div>
        
      </modal>

      <modal header-text="Help" :visible="modals.help" @close="toggleModal('help')">
        <p>Tap on todo entry to toggle its completion status.</p>
        <p>Press shift and tap at the todo entry to remove it.</p>
        <p>On mobile, press and hold a todo entry to remove it.</p>
      </modal>

    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>

</html>